<h1>Twitter Clone</h1>
<p>Seja bem-vindo ao Clone do Twitter, uma aplicação desenvolvida no contexto da disciplina de Programação Funcional. Este projeto tem como principal objetivo proporcionar uma compreensão mais aprofundada sobre a importância do framework Phoenix e da linguagem Elixir no desenvolvimento de aplicações web modernas e eficientes.</p>

<p>A implementação desta aplicação permitiu explorar os conceitos fundamentais da programação funcional, destacando as vantagens e particularidades oferecidas pelo ecossistema Elixir. O aprendizado obtido ao longo do desenvolvimento foi extremamente enriquecedor, contribuindo significativamente para a ampliação do conhecimento sobre arquiteturas escaláveis, concorrência e boas práticas no desenvolvimento de software.</p>
